<% provide(:title, 'Inspirations - Watch and listen') %>
 
<h1>Inspirations - Watch and Listen</h1>
<div class="row">
  <div class="span3">
    <%= image_tag("video.jpg") %>
  </div>
  <div class="span9">


<p>
 A selection of inspirational videos to encourage you and make your a day a little better.
 Start your day with something inspiring and energizing, or reload with positive energy during 
 the day when you're running low, or cap off the day on a high note. 
 Enjoy and share with your soul care members, and people you care about.
<% if user_signed_in? %>
 <%= link_to 'Inspire today...', new_inspiration_path %>
<% end %>
</p>
</div>
</div>
<hr />
<%= will_paginate  %>

<div>

 <% @inspirations.each do |inspiration| %>
 <h2><%= inspiration.title %></h2>
 <br/>

<iframe width="420" height="315" 
src=<%= inspiration.link %> 
frameborder="0" allowfullscreen></iframe>
<br/>
 <!-- Additional Info -->
 <% if inspiration.tag_list.present? %>
 <em>Tags: <%= raw inspiration.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></em>
 <% end %>
 <% end %>
</div>

<%= will_paginate %>
<% if user_signed_in? %>
<%= link_to 'Inspire', new_inspiration_path %>
<% end %>
