<% provide(:title, 'Discussion Topics') %>
<div> 
 <h1>Inspirations - Suggested discussion topics</h1>
 <div class="row">
 <div class="span3">
   <%= image_tag("discussion.jpg") %>
 </div>
 <div class="span9">
 
 <p>
  Share Soul Care will periodically post discussion topics, but they are optional. 
  Your soul care group can pick other topics of specific interest to you. 
  We hope these topics act as conversation starters to help your spiritual growth and 
  understanding. Fellowship and  encourage each other in the most effective way you 
  can think of; that's what soul care is all about! 
  <% if user_signed_in? %>
    <%= link_to 'Add topic for discussion', new_topic_path %>
  <% end %>
   </p>
 </div>

</div>
<hr />
<% if @topics.present? %>
<div class="row">
 <div class="span6">
 <% if @topics.last.present? %>    
  <h3>Featured Topic</h3>
  <p><%=  link_to image_tag(@topics.last.image, :width => 350), topic_path(@topics) %></p>
  <h4><%= link_to @topics.last.title, topic_path(@topics.last) %></h4>
  <p><%= @topics.last.introduction %></p>
  <% if @topics.last.tag_list.present? %>
  <p><em><%= raw @topics.last.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></em><p>
  
  <p><%= Date.today %></p>
  <% end %>
  <% end %>
 </div> 
 <div class="span6">
  <h3>Previous Discussions</h3>
  <ul class="list-unstyled"> 
  <% @topics.each do |topic| %>
   <li>
    <span><%= image_tag topic.image_url(:thumb) if topic.image? %></span>
    <span class="title"><strong><%= link_to topic.title, topic %></strong></span><br />
    <% if topic.tag_list.present? %>
    <span><em>Tags: </em><%= raw topic.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
    <% end %>
    <span class="timestamp">Posted <%= time_ago_in_words(topic.created_at) %> ago</span>
   </li>
   <hr />
   <% end %>
  </ul> 
  <%= will_paginate %>
 </div>
</div>
<hr />
<% end %>
<div> 
 <p>
  Are there topics you'll like us to create a discussion about?
  Let us know at info@sharesoulcare.org. We'll love to hear from you.
  
  We'll also appreciate discussion articles.
 </p>
  <% if user_signed_in? %> 
    <%= link_to 'Add topic for discussion', new_topic_path %>
  <% end %>  
</div>
