<% provide(:title, 'Discussion Topics') %>
<div> 
 <h1>Inspirations - Suggested discussion topics</h1>
 <p>
  Share Soul Care will periodically post discussion topics, but they are optional. 
  Your soul care group can pick other topics of specific interest to you. 
  We hope these topics act as conversation starters to help your spiritual growth and 
  understanding. Fellowship and  encourage each other in the most effective way you 
  can think of; that's what soul care is all about!
 </p>
</div>
<hr />
<div class="row">
 <div class="span6">
  <h3>Featured Topic</h3> 
  <%= render partial: "featured", collection: @featured_topics %>
  
 </div> 
 <div class="span6">
  <h3>Previous Discussions</h3>
  <ul class="list-unstyled"> 
  <% @topics.each do |topic| %>
   <li>
    <span><%= image_tag topic.image_url(:thumb) if topic.image? %></span>
    <span class="title"><strong><%= link_to topic.title, topic %></strong></span><br />
    <span><em>Tags: </em><%= raw topic.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
    <span class="timestamp">Posted <%= time_ago_in_words(topic.created_at) %></span>
   </li>
   <hr />
   <% end %>
  </ul> 
  <%= will_paginate %>
 </div>
</div>
<hr />
<div> 
 <p>
  Are there topics you'll like us to create a discussion about?
  Let us know at info@sharesoulcare.org. We'll love to hear from you.
  
  We'll also appreciate discussion articles.
 </p>
 
  <%= link_to 'Add Discussion', new_topic_path %>
</div>
