<!-- DISCUSSION TOPIC - SHOW -->


<div id="topic-show">
 <h2><%= @topic.title %></h2>
 <%= image_tag(@topic.image, :width => 350) if @topic.image.present? %>
 <hr />
 <div class="well well-sm"> 
  <blockquote class="blockquote-reverse">
   <p><em><%= @topic.bible_passage %></em></p>
  </blockquote>
 </div> 
 <p class="lead"><%= @topic.introduction %></p>
 <hr />
 <strong>Higlights</strong>
 <p><%= @topic.highlight %></p>
 <hr />
 <strong>Discussion Points</strong>
 <p><%= @topic.discussion %></p>
 <hr />
 <strong>Conclusion</strong>
 <p><%= @topic.conclusion %><p>
 <hr />
 <strong>Action Steps</strong>
 <p><%= @topic.action_steps %></p>
 <hr />
 <strong>Prayer</strong>
 <p><%= @topic.prayer %></p>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %>
<%= link_to 'Back to Topics', topics_path %>
