

<p> <% if @event.image.present?  %>
  <strong>Image:</strong>
  <%= image_tag(@event.image, :width => 350) if @event.image.present? %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>

<p>
  <% if @event.event_type_id.present? %>
    <strong>Event type:</strong>
    <%= @event.event_type_id %>
  <% end %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
