<div class="well">
  <div>
	<%= profile.first %>
	<%= profile.last %>
	<%= profile.birthday %>
	<hr>
	<%= profile.gender %>
	<%= profile.status %>
	<hr>
	<%= profile.city %>
	<%= profile.state %>
	<hr>
	<%= profile.denomination %>
	group
  </div>
</div>
