<header class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
      <!--
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
       <nav>  
       <%= link_to image_tag("ssclogo2.png", alt: "Share Soul Care"), root_path, id: "logo" %>
     <!-- Collect the nav links, and other content for toggling -->
     <!--
     <div class="collapse nabvar-collapse" id="bs-example-navbar-collapse-1">
     --> 
     
        <ul class="nav pull-right">     
          <!-- Inspirations dropdown -->          
          <li id="fat-menu" class="dropdown">
            <a href=<% inspirations_path %> class="dropdown-toggle" data-toggle="dropdown">
              Inspirations <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Watch and Listen", inspirations_path  %></li>
              <li><%= link_to "Topics",      topics_path %></li>
              <li><%= link_to "Prayers",     prayers_path %></li>
            </ul>
          </li>          
          <!-- Groups dropdown -->          
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Groups <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "How to start a group",        start_groups_path %></li>
              <li><%= link_to "How to find a group",         find_groups_path %></li>
              <li><%= link_to "How to connect with a group", connect_groups_path %></li>
            </ul>
          </li>          
          <!-- Events dropdown -->          
           <li id="fat-menu" class="dropdown">
            <a href=<% events_path %> class="dropdown-toggle" data-toggle="dropdown">
              Events <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Listings", 	    events_path %></li>
              <li><%= link_to "Fellowships",    events_path %></li>
              <li><%= link_to "Cinema/Theatre", events_path %></li>
              <li><%= link_to "Concerts",       events_path %></li>
              <li><%= link_to "Conferences",    events_path %></li>
              <li><%= link_to "Fundraisers",    events_path %></li>
              <li><%= link_to "Outdoor",        events_path %></li>
            </ul>
          </li>          
          <!-- Resources dropdown -->          
           <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Resources <b class="caret"></b>
            </a>
           <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Just moved to a new city?",   '#' %></li>
            <li><%= link_to "Find resources in your city", '#' %></li>
            <li><%= link_to "Shopping",                    '#' %></li>
            <li><%= link_to "Radio Stations",              '#' %></li>
            <li><%= link_to "Resources for families",      '#' %></li>
            <li><%= link_to "Resources for kids",          '#' %></li>
           </ul>
          </li>           
          <!-- About dropdown -->          
           <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              About <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Overview", overview_about_path %></li>
              <li><%= link_to "Team",     team_about_path %></li>
              <li><%= link_to "Contact",  contact_about_path %></li>
            </ul>
          </li>          
        </ul>
      </nav>
     <!-- </div> -->
    </div>
  </div>
 </div>
</header>
